*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    .container-fluid{
        padding-top: 50px;
        padding-bottom: 50px;
        background-image: url(../img/iphone-wallpaper-whatspaper-14.jpeg);
        .row{

            .col-md-12{

                .card{
                    border-radius: 12px;

                    img{
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                    }

                    a.btn-primary{
                        padding-left: 50px;
                        padding-right: 50px;
                    }

                    a.btn-light{
                        margin-top: 10px;
                        text-decoration: none;
                        color: black;
                        font-weight: bolder;
                    }

                    .box-music{
                        padding: 10px;
                        border-radius: 12px;
                    }

                    .button-change{
                        a{
                            font-size: 20px;
                            margin-left: 50px;
                        }
                    }
                }
            }
        }
    }
   
}